MYSQL_USER=rafiandria23
MYSQL_PASSWORD=rafiandria23
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_DB=miranda

POSTGRES_USER=rafiandria23
POSTGRES_PASSWORD=rafiandria23
POSTGRES_HOST=127.0.0.1
POSTGRES_PORT=5432
POSTGRES_DB=miranda
